.text-center {
  border-collapse: collapse; }

h1 {
  font-size: 30px;
  color: white;
  background-color: #004414;
  text-transform: uppercase;
  padding: 15px; }

p {
  font-size: 15px;
  color: white;
  background-color: #004414;
  text-transform: uppercase;
  padding: 15px; }

h3 {
  font-size: 25px;
  color: white;
  background-color: #4dc483;
  text-transform: uppercase;
  padding: 15px; }

.bg-green {
  background-color: #46af46; }

.bg-green2 {
  background-color: #003b17; }

.decoraciontitulo, .decoraciontitulo--nuevo {
  text-decoration: underline;
  color: #6fb16d; }

.decoraciontitulo--nuevo {
  color: #70d879; }

body {
  font-family: arial, helvetica;
  background: #008616;
  background: linear-gradient(90deg, #007e1f 0%, #f9f0e9 68%, white 100%); }

.menu {
  list-style: none;
  padding: 0;
  background: #00a31b;
  width: 90%;
  max-width: 100px;
  margin: auto;
  position: auto;
  vertical-align: auto;
  text-align: center;
  border-style: groove;
  border-color: whitesmoke; }

.text-midle {
  text-align: center; }

.text-left {
  justify-content: left; }

.text-right {
  justify-content: right; }

.imgstyle {
  border-style: groove;
  border-radius: auto;
  margin: 10px; }

nav {
  width: 100%;
  display: flex;
  position: sticky;
  justify-content: space-between;
  box-sizing: border-box; }

p {
  color: white;
  border-style: groove;
  border-color: #004415;
  background: #10271e;
  padding: 0;
  width: auto;
  margin: auto;
  position: auto;
  vertical-align: auto;
  text-align: center;
  margin: 15px; }

h2 {
  color: lightyellow;
  background-color: #005e05;
  padding: 0;
  width: 60%;
  text-align: center;
  margin: auto;
  position: auto;
  vertical-align: auto;
  text-align: center; }

nav li a:hover {
  background-color: greenyellow; }

footer h3 {
  color: #6fb16d;
  border-style: groove;
  border-color: #004414;
  width: 70%;
  padding: 0;
  margin: auto;
  background-color: #46af46; }

fieldset legend {
  background-color: whitesmoke;
  display: flex; }

body header nav h1 {
  color: whitesmoke; }

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  padding: 20px; }

#img-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

footer {
  text-align: center; }

section table tr td {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

table {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #70d879; }

.padding {
  padding: 10px;
  background: darkgray; }

h1 {
  color: white;
  background-color: #003b17;
  width: 100%;
  text-align: center; }

fieldset {
  background-color: aliceblue; }

.margin {
  margin: 15px; }

h3 {
  color: white;
  background-color: #4dc483;
  padding: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  text-align: center; }

.back {
  background-color: #429668; }

.bg-green {
  justify-content: center; }

.bg-green2 {
  justify-content: center; }

.color {
  color: white; }
