@import "_commons" ;

body{
	font-family: arial, helvetica;
	background: rgb(0, 134, 22);
    background: linear-gradient(90deg, rgb(0, 126, 31) 0%, rgba(249,240,233,1) 68%, rgba(255,255,255,1) 100%);
}

.menu{
	list-style: none;
	padding: 0;
	background: rgb(0, 163, 27);
	width: 90%;
	max-width: 100px;
	margin: auto;
	position: auto;
	vertical-align: auto;
	text-align: center;
	border-style: groove;
	border-color: whitesmoke;

}


.text-midle{
	text-align: center;
}

.text-left{
justify-content: left;
}

.text-right{
justify-content: right;
}

.imgstyle {
	border-style: groove;
	border-radius: auto;
	margin: 10px;
}

nav{
	width: 100%;
	display: flex;
	position: sticky;
    justify-content: space-between;
    box-sizing: border-box;
}

p{
	color: rgb(255, 255, 255);
	border-style: groove;
	border-color: rgb(0, 68, 21);
	background: rgb(16, 39, 30);
	padding: 0;
	width: auto;
	margin: auto;
	position: auto;
	vertical-align: auto;
	text-align: center;
	margin: 15px;
}

h2{
	color: lightyellow;
	background-color: rgb(0, 94, 5);
	padding: 0;
	width: 60%;
	text-align: center;
	margin: auto;
	position: auto;
	vertical-align: auto;
	text-align: center;
}

nav li a:hover{
	background-color: greenyellow;
}
	


footer h3{
	color: rgb(111, 177, 109);
	border-style: groove;
	border-color: #004414;
	width: 70%;
	padding: 0;	
	margin: auto;
	background-color: rgb(70, 175, 70);
}

fieldset legend{
	background-color: whitesmoke;
	display: flex;
}	

body header nav h1{
	color: whitesmoke;
}

.text-center {
	display: flex;
	justify-content: center;
	align-items: center;
	background: gray;
	padding: 20px;
}

#img-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-align: center;
}

section table tr td{
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

table{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: rgb(112, 216, 121);


}

.padding{
	padding: 10px;
	background: darkgray;
}

h1{ 
	color: rgb(255, 255, 255);
	background-color: rgb(0, 59, 23);
	width: 100%;
    text-align: center
}

fieldset {
	background-color: aliceblue;

}

.margin {
	margin: 15px;
}

h3 {
	color: rgb(255, 255, 255);
	background-color: rgb(77, 196, 131);
	padding: 0;
	width: 100%;
	text-align: center;
	margin: auto;
	text-align: center;
}

.back{
	background-color: rgb(66, 150, 104);
}

.bg-green{
	justify-content: center;
}

.bg-green2{
	justify-content: center;
}

.color{
	color: white;
}